@mixin flex {
  display: flex;
  align-items: center;
}
* {
 list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Myriad Pro";
}
.container {
  @include flex;
  flex-direction: column;
  margin: 50px auto;
  max-width: 560px;
  width: 90%;
  h1 {
    font-size: 48px;
    margin-bottom: 44px;
  }
  ul {
    margin: 10px auto;
    width: 100%;
    li {
      @include flex;
      height: 60px;
      border-bottom: 1px solid #cccccc;
      &:first-child {
        border-top: 1px solid #cccccc;
      }
      .item {
        @include flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 7px 0 22px;
        font-size: 17px;
        & > div {
          @include flex;
          justify-content: space-around;
          width: 120px;
        }
      }
      .active {
        color: #3FAF6C;
      }
    }
  }
}

